.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**

# docs
docs/images/*.mov

# submodules
vscode-junos-syntax/**
!vscode-junos-syntax/language-configuration.json
!vscode-junos-syntax/syntaxes/Junos.tmLanguage

# development
.eslintignore
.gitmodules
.idea/**
.ignore
*.js
*.conf
others/**
pkgs/**
