.vscode/**
node_modules/**
client/**
server/**
scripts/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml

# docs
docs/images/
!docs/images/logo.png

# development
**/tsconfig.tsbuildinfo
*.conf
*.js
.gitmodules
.idea/**
.ignore
.ncurc.mjs
.pre-commit-config.yaml
commitlint.config.js
esbuild.mjs
eslint.config.mjs
others/**
pkgs/**
